# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/

# Environment Variables
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Generated Data
data/processed/

# macOS (future-proof)
.DS_Store